* {
  padding: 0;
  margin: 0;
}
.wrapper {
  background-color: #050505;
  /* width: 100%; */
  overflow-x: hidden;

  min-height: 100vh;
}
.trailerWrapper {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 600px;
  /* margin-top: 50px; */
  padding: 75px 90px;
}
.trailerWrapper > .trailer {
  width: 70%;
  height: 500px;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 30px;
}
.trailerWrapper > .movieDetail {
  width: 30%;
  max-width: 30%;
  /* object-fit: contain; */
  display: flex;
  flex-direction: column;
  background-color: rgb(18 18 18);
  color: #fff;
  height: 500px;
  padding: 30px;
}
.movieDetail > h1 {
  font-size: 2rem;
}
.divider {
  margin: 0.7rem 0;
}
.movieDetail > p {
  font-size: 0.9rem;
}
.movieDetail > .image {
  max-width: 40%;
  margin-bottom: 15px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    background-color: #111;
    /* width: 100%; */
    overflow-x: hidden;
    /*         
        min-height: 100vh; */
  }
  .trailerWrapper {
    /* width: 100%; */
    display: flex;
    flex-direction: column;

    align-items: center;
    /* height: 00px; */
    /* margin-top: 50px; */
    margin-top: 40px;
    padding: 25px 10px;
  }
  .trailerWrapper > .trailer {
    width: 94%;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: #111;
    padding: 10px;
  }
  .trailerWrapper > .movieDetail {
    width: 94%;
    height: 200px;
    max-width: 94%;
    display: flex;
    flex-direction: column;
    background-color: #111;
    color: #fff;
    padding: 20px 10px;
  }
  .movieDetail > h1 {
    font-size: 1.5rem;
    max-width :75%;
    margin-left:25%;
    position: relative;
    bottom: 80px; 
  }
  .divider {
    margin: 0.5rem 0;
    height: 0.1px;
    position: relative;
    bottom: 25px; 
  }
  .movieDetail > p {
    font-size: 0.7rem;
    position: relative;
    bottom: 25px; 
  }
  .movieDetail > .image {
    /* display: none; */
    width: 15%;
    margin: 0;
  }
  
  
}
