.app{
    background-color: #111;
}
.loadingScreen{
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.loadingScreen > .loadingImage{
    width: 50%;
}
@media screen and (max-width: 800px){
    .loadingScreen > .loadingImage{
        width: 95%;
    }
}